header {
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.portfolios, .team {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.portfolio {
    border-radius: 10px;
}

.avatar {
    border-radius: 50%;
}

footer {
    font-size: 12px;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

.link {
    font-size: 22px;
    color: #868e96;
}

.link:hover {
    color: #0275d8;
}

@media (max-width: 767.98px) {
    header {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
}
