header {
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.portfolios, .team {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.avatar {
    border-radius: 50%;
}

footer {
    font-size: 12px;
}
