header {
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.portfolios, .team {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.avatar {
    border-radius: 50%;
}

footer {
    font-size: 12px;
}

@keyframes slideInUp {
    from {
        transform: translate3d(0, 70%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    animation-name: slideInUp;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -70%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}
